<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
   <TITLE>mod_perl Guide</TITLE>
   <META NAME="Author" CONTENT="Stas Bekman">
   <META NAME="Description" CONTENT="All Apache/Perl related information: Hints, 
Guidelines, Scenarios and Troubleshottings">
   <META NAME="keywords" CONTENT="mod_perl modperl perl cgi apache webserver speed 
fast guide mod_perl apache guide help info faq mod_perl installation cgi
troubleshooting help no sex speedup free open source OSS mod_perl apache guide">
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
   <META NAME="Classification" CONTENT="information">
</HEAD>

    <LINK REL=STYLESHEET TYPE="text/css"
        HREF="style.css" TITLE="refstyle">
     <style type="text/css">
     <!-- 
        @import url(style.css);
     -->
     
     </style>
<BODY TEXT="#000000" BGCOLOR="#FFFFFF" LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000">
<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>

<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER><FONT SIZE=+5><B>mod_perl Guide</B></FONT><CENTER>

<P>&nbsp;</P>

<CENTER><P><B>Version [VERSION] [DATE]</B></P></CENTER>

<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER><P><FONT SIZE=+3><B>Deploying mod_perl technology to give a rocket speed
to your CGI/perl scripts.</B></FONT></P></CENTER>
<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER><P><FONT SIZE=+1>
By <B>Stas Bekman</B> <BR>
http://stason.org/<BR>
&lt;stas@stason.org&gt;
</FONT></P></CENTER>

<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER><P><FONT SIZE=+2>
Master Copy URL: http://perl.apache.org/guide
</FONT></P></CENTER>

<HR class=PAGE-BREAK>

<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER>
This document is originally written in <B>POD</B>, converted to
<B>HTML</B> by <B>pod2html</B> utility and to <B>PostScript</B> by
<B>html2ps</B> utility.
</CENTER>


<CENTER> 

You can download all the HTML files, POD sources and build scripts
from <A HREF="http://www.perl.com/CPAN-local/authors/id/S/ST/STAS/">
http://www.perl.com/CPAN-local/authors/id/S/ST/STAS/</A> or at the
same directory from one of your favorite CPAN mirrors.

</CENTER>

<P>&nbsp;</P>
<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER><P>
Copyright &copy; 1998-2000 Stas Bekman. All rights reserved.
</CENTER>

<P>&nbsp;</P>
<P>&nbsp;</P>

<CENTER><P>(you will find a Table of Contents at the end of the Guide)</CENTER>


<HR class=PAGE-BREAK>

<P><P><P><FONT SIZE=+1>

<B>Your corrections of either technical or grammatical
errors are very welcome. You are encouraged to help me
to improve this guide.<P>

If you have something to contribute please 
send it directly to me. Thank you!<P>

If it's a small fix, just remember to tell me the chapter and the name
of the section you are talking about. <P>

If it includes big text modifications please download the POD sources
of the Guide from http://perl.apache.org/guide (at the bottom of the
page), edit them directly and send the patched file to me.<P>

Thank you!

</B>
</FONT>

<HR class=PAGE-BREAK>
 
</BODY>
</HTML>

